<% include partials/header %>
<div class="container" id="default_container">
    <h1>again page</h1>
    <a href="/start"><button type="button" class="btn">Play Again</button></a>
</div>  
<% include partials/footer %>