<% include partials/header %>
<div class="container" id="default_container">
    <h1>landing page</h1>
    <hr>
    <hr>
    <a href="/start"><button type="button" class="btn">Play</button></a>
</div>  
<% include partials/footer %>