<% include partials/header %>
<div class="container" >
	<div class="question-container">
		<h1 id="q"> </h1>
	</div>
	
	<div class="buttons-container">
		<button class="buttons" id="1"></button>
		<button class="buttons" id="2"></button>
		<button class="buttons" id="3"></button>
		<button class="buttons" id="4"></button>
	</div>
</div>
<div class="countdown">
	<h4 id="countdown-number"></h4>
</div>

<div class="scores">
	<h4 id="score-user1">Score: 0</h4>
</div>
<!--<div class="countdown">-->
<!--  <div class="countdown-number"></div>-->
<!--  <svg>-->
<!--    <circle r="18" cx="20" cy="20"></circle>-->
<!--  </svg>-->
<!--</div>-->

<script type="text/javascript" src="js/timer.js"></script>

<% include partials/footer %>