<% include partials/header %>
<div class="container" id="default_container">
    <h1>result page</h1>
    <h4 id="result"></h4>
</div>  
<script type="text/javascript" src="js/resultTimer.js"></script>
<% include partials/footer %>