<% include partials/header %>
<div class="container" id="default_container">
    <h1>starting page</h1>
    <a href="/question"><button type="button" class="btn">Start Game</button></a>
</div>  
<% include partials/footer %>