<html>
    <head>
        <title>Demo</title>
        <link rel="stylesheet" type="text/css" href="css/all.css"></link>
    </head>
    <body>
    
    <div id="logo_container">
        <img id="logo" src="https://onedio.com/images/logo/onedio-new2x-new.png">
    </div>    
